{% extends 'core/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Nuevo Viaje</h1>

<div class="row col-3">
    <form action= {% url 'add_travel_register' %} method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        Código<br>
        <input name="code">
        <br><br>
        Origen<br>
        <input name="origin">
        <br><br>
        Destino<br>
        <input name="destination">
        <br><br>
        Fecha<br>
        <input name="flight_date">
        <br><br>
        Avión<br>
        <input name="planes_id">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}