<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}

  <title>Aero Chile Aplicación</title>
</head>

<body>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/task">Task</a>
      </li>
      
      {% if user.is_authenticated %}
      <li>
        <a href="/logout">Logout</a>
      </li>

      {% else %}
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>

      {% endif %}
      
    </ul>
  </nav>

    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>