<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}

  <title>Aero Chile Aplicación</title>
</head>

<body>

  {% comment %} <nav> {% endcomment %}
  <!-- As a link -->
  <nav class="navbar bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">{% if user.is_authenticated %}Hola {{user.username}}{% else %}Bienvenido{% endif %}</a>
      <button type="button">
        <a class="btn-light" href= {% url 'logout' %} style="text-decoration: none;">Logout</a>
      </button>
    </div>
  </nav>

  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" href="">Viajes</span>
      <button type="button">
        <a class="btn-light" href= {% url 'add_travel' %} style="text-decoration: none;">Crear Viaje</a>
      </button>
    </div>
  </nav>

  {% comment %} <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/task">Task</a>
      </li>
      
      {% if user.is_authenticated %}
      <li>
        <a href="/logout">Logout</a>
      </li>

      {% else %}
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>

      {% endif %}
      
    </ul>
  </nav> {% endcomment %}

    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>